<div class="container">

  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="row">

      <p class="lead">
        This application presents various Homomorphic Encryption schemes to help teach how they work and could be implemented.
      </p>
      <div class="col-xs-12 text-center animated fadeIn center-block">
        <button type="submit" class="center-block btn btn-primary" [routerLink]=" ['/Computation/Schemes'] ">Try it out!</button>
      </div>

    </div>
    <div class="row">
      <div style="height:2em;"></div>
      <div class="col-xs-12">
        <h6>More information</h6>
        <p>
          Homomorphic Encryption has become an increasingly important topic in Computer Science with the emergence of public cloud services like Amazon Web Services, Google Cloud Platform and Microsoft Azure.
          It describes the ability to encrypt values and allow any external process to perform operations on them whilst retaining their original meaning.
        </p>
        <h6>Created with</h6>
        <ul>
          <li><a href="https://angular.io/" target="_blank">Angular 2</a> (via <a href="https://angularclass.github.io/angular2-webpack-starter/" target="_blank">a WebPack based starter</a>)</li>
          <li><a href="http://getbootstrap.com/" target="_blank">Bootstrap 3</a> (via <a href="http://bootswatch.com/paper/" target="_blank">a theme from Bootswatch</a>)</li>
          <li><a href="https://www.mathjax.org/" target="_blank">MathJax</a></li>
          <li><a href="https://symfony.com/" target="_blank">Symfony 3</a></li>
          <li><a href="http://autobahn.ws/" target="_blank">Autobahn WS</a></li>
          <li><a href="https://www.docker.com/" target="_blank">Docker</a></li>
          <li>Hosted on <a href="http://aws.amazon.com/" target="_blank">Amazon Web Services</a></li>
        </ul>
        <p><strong>Note:</strong> For the best experience, use an up-to-date modern web browser like <a href="https://www.google.com/chrome/" target="_blank">Google Chrome</a> or <a href="https://www.mozilla.org/en-GB/firefox/new/">Mozilla Firefox</a>.</p>
      </div>
    </div>
  </div>
</div>

