# Use prebuilt protoc if available instead of compiling from source.
common --@protobuf//bazel/toolchains:prefer_prebuilt_protoc=true

# Used for hermetic_cc_toolchain
common --enable_platform_specific_config
build:linux --sandbox_add_mount_pair=/tmp
build:macos --sandbox_add_mount_pair=/var/tmp
build:windows --sandbox_add_mount_pair=C:\Temp
