<div class="computation-add">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>Enter a sum</h4>
        <div class="col-xs-12">
          <form
            [ngFormModel]="computationForm"
            (submit)="computationForm.valid && submit($event)"
            class="form-horizontal"
            novalidate
          >
            <div class="form-group">
              <div class="input-group col-xs-12">
                <input
                  ngControl="a"
                  [(ngModel)]="computationModel.a"
                  type="number"
                  placeholder="3"
                  class="text-center col-xs-5"
                  autofocus
                  [disabled]="formSubmitted"
                >
                <div class="col-xs-2 text-center">
                  +
                </div>
                <input
                  ngControl="b"
                  [(ngModel)]="computationModel.b"
                  type="number"
                  placeholder="5"
                  class="text-center col-xs-5"
                  [disabled]="formSubmitted"
                >
              </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!computationForm.valid || formSubmitted">
              <span>Execute</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- 2 Prime Numbers p and q -->
  <div *ngIf="keyPair">
    <div class="col-sm-12" *mathjax>
      <div class="panel panel-defaut">
        <div class="panel-heading">Random Primes</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-1" >\(p\)</div>
            <div class="col-sm-11">\({{ keyPair.getP() }}\)</div>
          </div>
          <div class="row">
            <div class="col-sm-1">\(q\)</div>
            <div class="col-sm-8">\({{ keyPair.getQ() }}\)</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Public/Private Key -->
  <div *ngIf="computationModel.getPublicKey() && computationModel.getPrivateKey()">
    <div class="col-sm-6" *mathjax>
      <div class="panel panel-defaut">
        <div class="panel-heading">Public Key</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-1">\(n\)</div>
            <div class="col-sm-3">\(p \cdot q\)</div>
            <div class="col-sm-8">\({{ computationModel.getPublicKey().getN() }}\)</div>
          </div>
          <!--<div class="row">-->
            <!--<div class="col-sm-1">\(n^2\)</div>-->
            <!--<div class="col-sm-3">\(n \cdot n\)</div>-->
            <!--<div class="col-sm-8">\({{ computationModel.getPublicKey().getNSq() }}\)</div>-->
          <!--</div>-->
          <div class="row">
            <div class="col-sm-1">\(g\)</div>
            <div class="col-sm-3">\(n + 1\)</div>
            <div class="col-sm-8">\({{ computationModel.getPublicKey().getG() }}\)</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-defaut">
        <div class="panel-heading">Private Key</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-1">\(l\)</div>
            <div class="col-sm-3">\((p-1)(q-1)\)</div>
            <div class="col-sm-8">\({{ computationModel.getPrivateKey().getL() }}\)</div>
          </div>
          <div class="row">
            <div class="col-sm-1">\(m\)</div>
            <div class="col-sm-3">\(l^{-1} \text{ mod } n\)</div>
            <div class="col-sm-8">\({{ computationModel.getPrivateKey().getM() }}\)</div>
          </div>
        </div>
        </div>
      </div>
    </div>

  <!-- Encrypted Values -->
  <div *ngIf="computationModel.getAEncrypted() && computationModel.getBEncrypted()">
    <div class="col-sm-12" *mathjax>
      <div class="panel panel-defaut">
        <div class="panel-heading">Encrypted values</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-2">\(r\)</div>
            <div class="col-sm-5">Random prime</div>
            <div class="col-sm-5">\( {{aR}} \)</div>
          </div>
          <div class="row">
            <div class="col-sm-2">\(aEncrypted\)</div>
            <div class="col-sm-5">\((g^a mod(n^2) \cdot r^n \text{ mod } n^2) \text{ mod } n^2\)</div>
            <div class="col-sm-5">\({{ computationModel.aEncrypted }}\)</div>
          </div>
          <div class="row">
            <div class="col-sm-2">\(r\)</div>
            <div class="col-sm-5">Random prime</div>
            <div class="col-sm-5">\( {{bR}} \)</div>
          </div>
          <div class="row">
            <div class="col-sm-2">\(bEncrypted\)</div>
            <div class="col-sm-5">\((g^b mod(n^2) \cdot r^n \text{ mod } n^2) \text{ mod } n^2\)</div>
            <div class="col-sm-5">\({{ computationModel.bEncrypted }}\)</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pailler Addition -->
  <div *ngIf="computationModel.getSteps().length > 0">
    <div class="col-sm-12" *mathjax>
      <div class="panel panel-defaut">
        <div class="panel-heading">Pailler addition (Backend)</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-2">\(cEncrypted\)</div>
            <div class="col-sm-5">\((aEncrypted \cdot bEncrypted) \text{ mod } n^2\)</div>
            <div class="col-sm-5">\({{ computationModel.getSteps()[computationModel.getSteps().length - 1].getResult() }}\)</div>
          </div>
        </div>
       </div>
    </div>
  </div>

  <!-- Decrypt -->
  <div *ngIf="computationModel.isComplete()">
    <div class="col-sm-12" *mathjax>
      <div class="panel panel-defaut">
        <div class="panel-heading">Decryption (Result)</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-2">\(c\)</div>
            <div class="col-sm-5">\((\frac{c^lmod(n^2) - 1}{n})\cdot cEncrypted \text{ mod } n\)</div>
            <div class="col-sm-5">\({{ pailler.decrypt(computationModel.getPrivateKey(), computationModel.getPublicKey(), computationModel.getSteps()[computationModel.getSteps().length - 1].getResult() )}}\)</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
