<div class="computation-index">
    <div class="text-center">
        <h2>Choose a Cryptosystem</h2>
    </div>

    <div class="panel panel-default animated fadeIn"
         *ngFor="#scheme of schemes"
    >
        <div class="panel-body">
            <div class="col-md-2">
                <button
                        type="submit"
                        class="btn btn-primary "
                        [routerLink]=" ['/Computation/Run', {type: scheme.getUniqueName()} ]">
                    {{ scheme.getReadableName() }}
                </button>
            </div>
            <div class="col-md-10">
                <p>
                    {{ scheme.getDescription() }}
                </p>
            </div>
        </div>

    </div>

</div>

