<div class="computation-index">
    <div class="text-center">
        <h2>Choose a Cryptosystem</h2>
    </div>

    <div class="panel panel-default animated fadeIn"
         *ngFor="#scheme of schemes"
    >
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                    <button
                        type="submit"
                        class="btn btn-primary "
                        [routerLink]=" ['/Computation/Run', {type: scheme.getUniqueName()} ]">
                        {{ scheme.getReadableName() }}
                    </button>
                    </p>
                </div>
            </div>
            
            <div class="col-md-12 text-center">
                <p>
                    {{ scheme.getDescription() }}
                </p>
            </div>
        </div>

    </div>

</div>

