<div class="computation-run">
    <div class="col-md-10 col-md-offset-1">
        <div class="text-center">
            <h1 *ngIf="!formSubmitted">Enter a Sum</h1>
            <h1 *ngIf="formSubmitted">
                <span *mathjax>\({{ computationModel.a }} {{ computationModel.operation }} {{ computationModel.b }}\)</span>
                <span *ngIf="computationModel.isComplete()">\( = {{ computationModel.c }}\)</span>
            </h1>
        </div>
        <div class="animated fadeIn" *ngIf="!formSubmitted">
            <div class="panel-body">

                    <div class="row animated fadeIn" *ngIf="encryptionScheme != null">
                        <div class="col-md-12">
                            <form
                                    [ngFormModel]="computationForm"
                                    (submit)="computationForm.valid && submit($event)"
                                    class="form-horizontal"
                                    novalidate
                            >
                                <div class="form-group">
                                    <div class="col-sm-5">
                                        <input
                                                ngControl="a"
                                                [(ngModel)]="computationModel.a"
                                                type="number"
                                                placeholder="3"
                                                class="text-center form-control"
                                                autofocus
                                                [disabled]="formSubmitted"
                                        >
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="form-control" [disabled]="formSubmitted" [(ngModel)]="computationModel.operation">
                                            <option *ngFor="#operator of capabilities" [value]="operator">
                                                {{operator}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-5">
                                        <input
                                                ngControl="b"
                                                [(ngModel)]="computationModel.b"
                                                type="number"
                                                placeholder="5"
                                                class="text-center form-control"
                                                [disabled]="formSubmitted"
                                        >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary pull-right" [disabled]="!computationForm.valid || formSubmitted">
                                        <span>Execute</span>
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
            </div>
        </div>
    </div>

    <div *ngIf="encryptionScheme && computationModel" class="col-md-10 col-md-offset-1">
        <div *ngFor="#stage of computationModel.getStages()">
            <div class="panel panel-default animated fadeIn" [ngClass]="{'panel-info': stage.getType() == 1, 'panel-primary': stage.getType() == 0}">
                <div class="panel-heading">{{ stage.getName() }}</div>
                <div class="panel-body">
                    <div *ngFor="#step of stage.getSteps(); #i = index">
                        <div class="animated fadeInUp" *mathjax>{{ step.action }} <span *ngIf="step.result"> = {{ step.result }}</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
