<div class="computation-run">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <div class="col-md-12"><h3>{{ encryptionScheme.getReadableName() }}</h3></div>
            <div class="col-md-12"><p>{{ encryptionScheme.getDescription() }}</p></div>
        </div>
        <div class="row">
            <div class="text-center col-md-12">
                <div class="col-md-3"></div>
                <div *ngIf="!computationRunner.getComputation()" class="col-md-6">
                    <h4>Enter a sum</h4>
                </div>
                <div *ngIf="computationRunner.getComputation()" class="col-md-6">
                    <h4>
                        <span>\({{ computationModel.a }} {{ computationModel.operation | mathjax }} {{ computationModel.b }}\)</span>
                        <span *ngIf="computationModel.isComplete()">\( = {{ computationModel.c }}\)</span>
                    </h4>
                </div>
                <div class="col-md-3">
                    <button *ngIf="computationModel.isComplete()" onclick="location.reload();" type="button" class="btn btn-primary btn-sm"><i class="fa fa-2x fa-undo"></i></button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="animated fadeIn panel panel-default" *ngIf="!computationRunner.getComputation()">
                <div class="panel-body">

                    <div class="animated fadeIn" *ngIf="encryptionScheme != null">
                        <form
                                [ngFormModel]="computationForm"
                                (submit)="computationForm.valid"
                                class="form-horizontal"
                                novalidate
                        >
                            <div class="col-xs-12">
                                <div class="form-group"
                                     [ngClass]="{
                                     'has-success':
                                        computationForm.dirty && computationForm.valid,
                                     'has-error':
                                        computationForm.dirty && !computationForm.valid
                                     }"
                                >
                                    <div class="col-xs-5">
                                        <input
                                                ngControl="a"
                                                [(ngModel)]="computationModel.a"
                                                type="number"
                                                placeholder="3"
                                                class="text-center form-control"
                                                autofocus
                                                [disabled]="computationRunner.getComputation()"

                                        >
                                    </div>
                                    <div class="col-xs-2">
                                        <select class="form-control" [disabled]="computationRunner.getComputation()" [(ngModel)]="computationModel.operation">
                                            <option *ngFor="#operator of capabilities" [value]="operator">
                                                {{operator}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-xs-5">
                                        <input
                                                ngControl="b"
                                                [(ngModel)]="computationModel.b"
                                                type="number"
                                                placeholder="5"
                                                class="text-center form-control"
                                                [disabled]="computationRunner.getComputation()"
                                        >
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <span *ngIf="computationForm.dirty && !computationForm.valid" class="help-block text-danger">Both numbers must be > 0 and <= {{ encryptionScheme.getBitLength(computationForm.controls['bitLengths'].value).getMaxInt() }}</span>
                                <span *ngIf="computationForm.dirty && computationForm.valid" class="help-block text-success">All good!</span>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="bitLength" class="control-label col-sm-8">Key bit length</label>
                                    <div class="col-sm-4">
                                        <select ngControl="bitLengths" class="form-control" id="bitLength" [disabled]="computationRunner.getComputation()" [(ngModel)]="computationModel.keyBitLength">
                                            <option *ngFor="#bL of bitLengths" [value]="bL.getBitLength()">
                                                {{ bL.getBitLength() }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary pull-right" [disabled]="!computationForm.valid || computationRunner.getComputation()" (click)="submit($event)">
                                        <span>Execute</span>
                                    </button>
                                </div>
                            </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="col-xs-12">
                <div class="col-xs-6">
                    <div class="well text-center"><i class="fa fa-desktop"></i> - Executed locally on your computer</div>
                </div>
                <div class="col-xs-6">
                    <div class="well text-center"><i class="fa fa-cloud"></i> - Executed on a server in the cloud</div>
                </div>
            </div>
        </div>

        <div *ngIf="computationModel" class="col-md-12">
            <div>
                <div class="panel panel-default panel-primary animated fadeIn">
                    <div class="panel-heading">
                        <span><i class="fa fa-desktop"></i> Set up</span>
                    </div>
                    <div class="panel-body">
                        <p>We aim to calculate a {{ computationModel.operation }} b = c.</p>
                        <div class="animated fadeIn col-xs-12">
                            <div class="col-xs-1" mathjax>\(a\)</div>
                            <div class="col-xs-1" mathjax>\(=\)</div>
                            <div class="col-xs-1" mathjax>{{ computationModel.a }}</div>
                        </div>
                        <div class="animated fadeIn col-xs-12">
                            <div class="col-xs-1" mathjax>\(b\)</div>
                            <div class="col-xs-1" mathjax>\(=\)</div>
                            <div class="col-xs-1" mathjax>{{ computationModel.b }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngFor="#stage of computationModel.getStages()">
                <div class="panel panel-default animated fadeIn" [ngClass]="{'panel-info': stage.getEncryptionStage().isServerSide(), 'panel-primary': !stage.getEncryptionStage().isServerSide()}">
                    <div class="panel-heading">
                        <span><i class="fa" [ngClass]="{'fa-cloud': stage.getEncryptionStage().isServerSide(), 'fa-desktop': !stage.getEncryptionStage().isServerSide()}"></i> {{ stage.getEncryptionStage().getName() }}</span>
                        <span *ngIf="computationModel.getState() == 2 && stage.getEncryptionStage().isServerSide()" class="pull-right animated fadeIn">Connecting to Cloud <i class="fa fa-cog fa-spin"></i></span>
                    </div>
                    <div class="panel-body">
                        <p>{{ stage.getEncryptionStage().getPreDescription() }}</p>
                    </div>
                    <div class="row animated fadeIn">
                        <div *ngFor="#step of stage.getSteps(); #j = index" class="animated fadeIn col-xs-12" mathjax>
                            <div class="col-xs-1" mathjax>
                                \({{ step.getVariable() }}\)
                            </div>
                            <div class="col-xs-1">
                                \(=\)
                            </div>
                            <div class="col-xs-6" >
                                    {{ step.getEncryptionStep().getDescription() }}
                            </div>
                            <div class="col-xs-1">
                                <span *ngIf="step.getResult()" class="animated fadeInLeft" mathjax>\(=\)</span>
                            </div>
                            <div class="col-xs-3">
                                <span *ngIf="step.getResult()" class="animated fadeInLeft" mathjax>{{ step.getResult() }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <p>{{ stage.getEncryptionStage().getPostDescription() }}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>



