/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/

coverage
coverage.xml

bin/doctrine
bin/doctrine-dbal
bin/doctrine-migrations
bin/doctrine.php
bin/phpspec
bin/security-checker
bin/symfony_requirements
bin/php-cs-fixer
